<table align="center">
    <tbody>
        <tr>
            <td>
                <h3 align="center">
                    <%= descriptionGreeting %>
                </h3>
                <p>
                    <%= descriptionBody %>
                </p>
                <br>
                <p>
                    <%= descriptionFooter %>
                </p>
            </td>
        </tr>
        <tbody>
</table>